<div class="outerDiv">
    <div class="centerDiv">
        <div class="searchBar">
            <div class="searchInputDiv">
                <input class="searchInput" type="text" placeholder="Search Objects...">
                <button class="searchButton" type="button"><i class="fa fa-search white"></i></button>
                <button class="filterButton" type="button"><i class="fa fa-filter primaryColor"></i></button>
            </div>
            <div class="newRecordDiv">
                <button class="newRecordButton" type="button" (click)="addNewRecord()">
                    <i class="fa fa-plus white"> Yeni Hesap Ekle</i>
                </button>
            </div>
        </div>
        <div>
            data table
        </div>
        <div class="paginationBar">
            <div>
                row
            </div>
            <div>
                pagination
            </div>
        </div>
    </div>
</div>