<div class="outerDiv">
    <div class="centerDiv">
        <div class="searchBar">
            <div class="searchInputDiv">
                <input class="searchInput" type="text" placeholder="Search Objects...">
                <button class="searchButton" type="button"><i class="fa fa-search white"></i></button>
                <button class="filterButton" type="button"><i class="fa fa-filter primaryColor"></i></button>
            </div>
            <div class="newRecordDiv">
                <button class="newRecordButton" type="button" (click)="addNewRecord()">
                    <i class="fa fa-plus white"> Yeni Hesap Ekle</i>
                </button>
            </div>
        </div>
        <div>
            <div class="tableDiv">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="max-width: 3.5rem;">Sosyal Medya Linki</th>
                            <th style="max-width: 3.5rem;">Sosyal Medya Adı</th>
                            <th>Açıklama</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>link</td>
                            <td>Ad</td>
                            <td>Açıklama</td>
                        </tr>
                        <tr>
                            <td>link 2</td>
                            <td>Ad 2</td>
                            <td>Açıklama 2</td>
                        </tr>
                        <tr>
                            <td>link 3</td>
                            <td>Ad 3</td>
                            <td>Açıklama 3</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="paginationBar">
            <div class="leftDiv">
                <span>Show : </span>
                <select>
                    <option value="1">1 Rows</option>
                    <option value="2">2 Rows</option>
                    <option value="3">3 Rows</option>
                    <option value="4">4 Rows</option>
                </select>
            </div>
            <div class="pagination">
                <a href="#">&laquo;</a>
                <input href="#" class="active" placeholder="1">
                <span> of </span>
                <span> 4 </span>
                <a href="#">&raquo;</a>
            </div>
        </div>
    </div>
</div>